.view {
    background: url("../img/medicine-bottles-and-herbs-background-fresh-medicinal-healing-herbs-on-wooden-stock-photo_csp40670128.jpg")no-repeat center center;
    background-size: cover;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #31862c;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #71f442;
    }
}

.view-art1{
    background: url("../img/homecare.jpg")no-repeat center center;
    background-size: cover;
}
.view-ser{
    background: url("../img/consultation.jpg")no-repeat center center;
    background-size: cover;
}
.view-abt{
    background: url("../img/opd.jpg")no-repeat center center;
    background-size: cover;
}
.view-cont{
    background: url("../img/online\ consultation.jpeg")no-repeat center center;
    background-size: cover;
}
.view-psyco{
    background: url("../img/psyco.jpeg")no-repeat center center;
    background-size: cover;
}

html,
body,
header,
.view {
  height: 100%;
}
.carousel{
    width: 100%;
}