.view {
    background: url("../img/medicine-bottles-and-herbs-background-fresh-medicinal-healing-herbs-on-wooden-stock-photo_csp40670128.jpg")no-repeat center center;
    background-size: cover;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #31862c;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #71f442;
    }
}

.view-art1{
    background: url("../img/homecare.jpg")no-repeat center center;
    background-size: cover;
}
.view-ser{
    background: url("../img/consultation.jpg")no-repeat center center;
    background-size: cover;
}
.view-abt{
    background: url("../img/opd.jpg")no-repeat center center;
    background-size: cover;
}
.view-cont{
    background: url("../img/online\ consultation.jpeg")no-repeat center center;
    background-size: cover;
}
.view-psyco{
    background: url("../img/psyco.jpeg")no-repeat center center;
    background-size: cover;
}
.view-bod{
    background: url("../img/board-of-directors.jpg")no-repeat center center;
    background-size: cover;
}
.view-staff{
    background: url("../img/medical\ staff.jpg")no-repeat center center;
    background-size: cover;
}

html,
body,
header,
.view {
  height: 100%;
}
.carousel{
    width: 100%;
}


@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item1.active,
.carousel-inner .carousel-item1-next,
.carousel-inner .carousel-item1-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item1-right.active,
    .carousel-inner .carousel-item1-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item1-left.active, 
    .carousel-inner .carousel-item1-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item1-right,
.carousel-inner .carousel-item1-left{ 
  transform: translateX(0);
}